### Insert useful libraries

In [64]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import seaborn as sns
import datetime as dt

### Explore data

**What data we have to use:**

- interactions_train.csv: **698,901** rows dataset, 97% of the whole data set. Columns:
  - 'user_id', 
  - 'recipe_id' 
  - 'date' 
  - 'rating' 
  - 'u'
  - 'i'
- interactions_test.csv: **12,455** rows dataset, 1.7% of the whole data set. Columns:
  - 'user_id'
  - 'recipe_id'
  - 'date' 
  - 'rating'
  - 'u'
  - 'i' 
- interactions_validate.csv: **7,023** rows dataset, 0.9% of the whole data set. Columns:
  - 'user_id'
  - 'recipe_id'
  - 'date'
  - 'rating'
  - 'u'
  - 'i'
- RAW_interations.csv: **1,132,367** rows dataset. Raw data of users rating and order info. Columns: 
  - 'user_id'
  - 'recipe_id'
  - 'date'
  - 'rating'
  - 'reviews' 
- PP_users.csv: **25076** rows dataset. Token data of each **UNIQUE** user's orders and rating information. Columns:
  - 'u'
  - 'techniques'
  - 'items'
  - 'n_items'
  - 'ratings'
  - 'n_ratings' 
- RAW_recipes.csv: **231,637** rows dataset. This is a raw data about the recipes. Columns: 
  - 'name'
  - 'id'
  - 'minutes'
  - 'contributor_id'
  - 'submitted'
  - 'tags'
  - 'nutrition'
  - 'n_steps'
  - 'steps'
  - 'description'
  - 'ingredients'
  - 'n_ingredients' 
- PP_recipes.csv: **178,265** rows dataset. Has more or less the same information as 'RAW_recipes" data but in tokens. It has tokenized all the words into numbers. Columns:
  - 'id'
  - 'i'
  - 'name_tokens'
  - 'ingredient_tokens'
  - 'steps_tokens'
  - 'techniques'
  - 'calorie_level'
  - 'ingredient_ids' 

**Data explanation:**

-**'u'**: the identifier of the users, like user_id, but in 'PP_user' dataset has very important use, because 'u' is the unique value for the users_id. 

-**'i'**: the identifier of recipe, like recipe_id, but specially use for tokenizing.

In [46]:
test = pd.read_csv('interactions_test.csv')
test.head()

   user_id  recipe_id        date  rating   u       i
0     8937      44551  2005-12-23     4.0   2  173538
1    56680     126118  2006-10-07     4.0  16  177847
2   349752     219596  2008-04-12     0.0  26   89896
3   628951      82783  2007-11-13     2.0  45  172637
4    92816     435013  2013-07-31     3.0  52  177935

In [54]:
test.shape

(12455, 6)

In [53]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12455 entries, 0 to 12454
Data columns (total 6 columns):
user_id      12455 non-null int64
recipe_id    12455 non-null int64
date         12455 non-null object
rating       12455 non-null float64
u            12455 non-null int64
i            12455 non-null int64
dtypes: float64(1), int64(4), object(1)
memory usage: 583.9+ KB

In [47]:
test.shape

(12455, 6)

In [3]:
train = pd.read_csv('interactions_train.csv')
train.shape

(698901, 6)

In [4]:
validate = pd.read_csv('interactions_validation.csv')
validate.shape

(7023, 6)

In [5]:
df_join = test.append(train)
df_join = df_join.append(validate)
df_join.shape

(718379, 6)

In [6]:
df_join[(df_join['u'] == 6)]

        user_id  recipe_id        date  rating  u      i
186780   190375      80073  2007-01-14     5.0  6  64490
199866   190375     134728  2007-03-09     5.0  6      3
208324   190375     106262  2007-04-12     5.0  6  98141
240563   190375     241702  2007-08-08     5.0  6  49558

In [49]:
df = pd.read_csv('RAW_interactions.csv')
df.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [50]:
df.shape

(1132367, 5)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
user_id      1132367 non-null int64
recipe_id    1132367 non-null int64
date         1132367 non-null object
rating       1132367 non-null int64
review       1132198 non-null object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB

In [55]:
df1 = pd.read_csv('PP_users.csv')
df1.head(10)

,u,techniques,items,n_items,ratings,n_ratings
0,0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376
5,5,"[96, 2, 0, 38, 71, 0, 3, 9, 1, 90, 12, 13, 0, ...","[122026, 57553, 176588, 64777, 22746, 13097, 1...",290,"[4.0, 4.0, 1.0, 3.0, 1.0, 4.0, 3.0, 3.0, 3.0, ...",290
6,6,"[2, 1, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, ...","[64490, 3, 98141, 49558]",4,"[5.0, 5.0, 5.0, 5.0]",4
7,7,"[6, 0, 0, 2, 1, 0, 0, 1, 0, 5, 1, 0, 0, 0, 0, ...","[12938, 43057, 84375, 105841, 62768, 155858, 1...",16,"[0.0, 5.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",16
8,8,"[87, 1, 0, 33, 49, 0, 0, 8, 2, 95, 1, 4, 0, 1,...","[139822, 28774, 149235, 127227, 73843, 68663, ...",232,"[4.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, ...",232
9,9,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, ...","[116193, 3, 20238, 9967, 11115, 96404]",6,"[4.0, 5.0, 5.0, 3.0, 5.0, 5.0]",6

In [56]:
df1.shape

(25076, 6)

In [57]:
df1.describe()

                  u       n_items     n_ratings
count  25076.000000  25076.000000  25076.000000
mean   12537.500000     27.871311     27.871311
std     7238.962011    122.729039    122.729039
min        0.000000      2.000000      2.000000
25%     6268.750000      3.000000      3.000000
50%    12537.500000      6.000000      6.000000
75%    18806.250000     16.000000     16.000000
max    25075.000000   6437.000000   6437.000000

In [58]:
df1['u'].duplicated().value_counts()

False    25076
Name: u, dtype: int64

In [27]:
df2 = pd.read_csv('RAW_recipes.csv')
df2.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [28]:
df2.shape

(231637, 12)

In [29]:
df3 = pd.read_csv('PP_recipes.csv')
df3.head()

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"

In [30]:
df3.shape

(178265, 8)

In [31]:
# Have a simple check on whether the tokens correspond with the words, one example from the id 146223, the 2 row of the df1. 
df3['ingredient_tokens'].iloc[1]
# as the result, there are 12 tokens in ingredient_token column of id 146223

'[[17918], [25916], [2507, 6444], [8467, 1179], [8780], [6812], [4370, 2653, 18376], [2654, 5581, 34904, 5940], [15341], [10848], [21447, 7869], [6953]]'

In [32]:
# Lets have a look at table df, see what ingredients are there, and how many are
lis = df2[(df2['id'] == 146223)]['ingredients']
[print(x) for x in lis] 
# there are also 12 ingredients, it corresponde with the tokens. If we look at the tokens, it is actually one token
# corresponde with one single word

['flour', 'oats', 'brown sugar', 'pecans', 'butter', 'eggs', 'solid pack pumpkin', 'sweetened condensed milk', 'cinnamon', 'ginger', 'nutmeg', 'salt']

[None]

### Clean and tidy data

**Possible data problems:**

- Missing data
<br>
- Unformatted data
<br>
- Data format incorrect
<br>
- Duplicated data
<br>
- Too many dataset can also lead misunderstanding

### Date Data

There are two tables with date data, one is the df_join table(which I joined train, test and validate data together). Another table with data is the df from 'RAW_interations' data.

In [59]:
# Firstly look at convert the date of df_join into a correct format
df_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718379 entries, 0 to 7022
Data columns (total 6 columns):
user_id      718379 non-null int64
recipe_id    718379 non-null int64
date         718379 non-null object
rating       718379 non-null float64
u            718379 non-null int64
i            718379 non-null int64
dtypes: float64(1), int64(4), object(1)
memory usage: 38.4+ MB

In [76]:
df_join['date'] = pd.to_datetime(df_join['date'].astype(str), format='%Y-%m-%d')

In [75]:
print(df_join['date'].max())
print(df_join['date'].min())

2018-12-19 00:00:00
2000-02-25 00:00:00

In [77]:
# Now let's do the same for df data
df['date'] = pd.to_datetime(df['date'].astype(str), format='%Y-%m-%d')

In [78]:
print(df['date'].max())
print(df['date'].min())

2018-12-20 00:00:00
2000-01-25 00:00:00

### Merge Data

In [ ]:
df_review = df_join.merge(df, on = ['user_id', 'recipe_id'], how = 'outer')
df_review.head()

In [ ]:
df_review['u'].duplicated().value_counts()

In [33]:
# Join 2 previous tables into one table, I will choose to outer join table df to df1. So there will be 53372 ids without tokens

recipe_df = df2.merge(df3, on ='id', how = 'outer')

In [34]:
recipe_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231637 entries, 0 to 231636
Data columns (total 19 columns):
name                 231636 non-null object
id                   231637 non-null int64
minutes              231637 non-null int64
contributor_id       231637 non-null int64
submitted            231637 non-null object
tags                 231637 non-null object
nutrition            231637 non-null object
n_steps              231637 non-null int64
steps                231637 non-null object
description          226658 non-null object
ingredients          231637 non-null object
n_ingredients        231637 non-null int64
i                    178265 non-null float64
name_tokens          178265 non-null object
ingredient_tokens    178265 non-null object
steps_tokens         178265 non-null object
techniques           178265 non-null object
calorie_level        178265 non-null float64
ingredient_ids       178265 non-null object
dtypes: float64(2), int64(5), object(12)
memory usage: 35.3+ MB

In [35]:
# Now join recipe dataframe with user